<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_ITravelManagementService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            <security mode="None">
              <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
              <message clientCredentialType="UserName" algorithmSuite="Default" />
            </security>
          </binding>
          <binding name="BasicHttpBinding_IB2BFacade" />
        <binding name="SmsSoapBinding" />
        <binding name="ParceiroIntegracaoSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ParceiroIntegracaoSoap1" />
        <binding name="BasicHttpBinding_IPortType" />
        <binding name="BasicHttpBinding_IParceiros" />
        <binding name="BasicHttpBinding_IEstoqueWCF">
          <security mode="Transport" />
        </binding>
        <binding name="wsCorpPlataformaSoap" />
        <binding name="ServicePontoRelacionamentoBinding" />
        <binding name="BasicHttpBinding_IProdutoWCF">
          <security mode="Transport" />
        </binding>

        <binding name="GatewayServicePortBinding">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        </basicHttpBinding>
      <customBinding>
        <binding name="ParceiroIntegracaoSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
      </bindings>
      
      <behaviors>
        <endpointBehaviors>
          <behavior name="config">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          </behavior>
        </endpointBehaviors>
      </behaviors>
      
      <client>
      <endpoint address="http://www.orchestration.com.br/TravelManagementService.svc" behaviorConfiguration="config" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITravelManagementService" contract="Envision.TravelManagementService.ITravelManagementService" name="BasicHttpBinding_ITravelManagementService" />
      <endpoint address="http://qaswsb2b.centauro.com.br/FacadeB2B.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IB2BFacade" contract="Centauro.B2B.IB2BFacade" name="BasicHttpBinding_IB2BFacade" />
      <endpoint address="http://system.human.com.br/GatewayIntegration/services/Sms" binding="basicHttpBinding" bindingConfiguration="SmsSoapBinding" contract="HumanSystem.SMS.Sms_BindingImpl" name="Sms" />
      <endpoint address="https://www2.walmart.com.br/webservice/parceirointegracao.asmx" binding="basicHttpBinding" bindingConfiguration="ParceiroIntegracaoSoap" contract="Walmart.ParceiroIntegracao.ParceiroIntegracaoSoap" name="ParceiroIntegracaoSoap" />
      <endpoint address="https://www2.walmart.com.br/webservice/parceirointegracao.asmx" binding="customBinding" bindingConfiguration="ParceiroIntegracaoSoap12" contract="Walmart.ParceiroIntegracao.ParceiroIntegracaoSoap" name="ParceiroIntegracaoSoap12" />
      <endpoint address="http://b2b.extrahlg.net/Parceiros.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IParceiros" contract="Extra.B2B.IParceiros" name="BasicHttpBinding_IParceiros" />
      <endpoint address="https://187.61.25.11:1004/EstoqueWCF.svc/basicHttpBinding" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEstoqueWCF" contract="Netshoes.B2B.Estoque.IEstoqueWCF" name="BasicHttpBinding_IEstoqueWCF" />
      <endpoint address="http://corporativo.magazineluiza.com.br/mlCorpPlataformaWS/wsCorpPlataforma.asmx" binding="basicHttpBinding" bindingConfiguration="wsCorpPlataformaSoap" contract="MagazineLuiza.B2B.Corporativo.wsCorpPlataformaSoap" name="wsCorpPlataformaSoap" />
      <endpoint address="https://oci.bb.com.br:7091/BusinessProcesses/ServicoWS/ServicePontoRelacionamento" binding="basicHttpBinding" bindingConfiguration="ServicePontoRelacionamentoBinding" contract="br.com.bb.oci.ServicePontoRelacionamento.portType" name="ServicePontoRelacionamento" />
      <endpoint address="http://localhost/PortType.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPortType" contract="BancoDoBrasilServiceReference.IPortType" name="BasicHttpBinding_IPortType" />
      <endpoint address="https://187.61.25.11:1003/ProdutoWCF.svc/basicHttpBinding" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProdutoWCF" contract="Netshoes.B2B.Produto.IProdutoWCF" name="BasicHttpBinding_IProdutoWCF" />

      <endpoint address="https://189.16.18.123:9443/rihappy-gateway/WSRiHappy" binding="basicHttpBinding" bindingConfiguration="GatewayServicePortBinding" contract="RiHappy.B2B.GatewayService" name="GatewayServicePort" />
      </client>
    </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog.FullNetFx" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>